/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
.container-large{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}

/* COMPONENTI */
.blue-link{
    text-decoration: underline;
    color: blue;
}
/* buttons */
.button{
    padding: 10px 15px;
    text-align: center;
}
.button__blue{
    background-color: #0061FF;
    color: white;
}

/* colonne */
/* colonne hero */
.col-30{
    flex-basis: calc(100% / 3);
    flex-direction: column;
    gap: 40px;
}
.col-70{
    flex-basis: calc(100% * 2 / 3);
}
/* colonne business plan */
.row{
    flex-wrap: wrap;
}
.col{
    flex-grow: 1;
    flex-basis: calc(100% / 4);
} 
.col-12{
    flex-basis: calc(100% / 1);
}
.col-6{
    flex-basis: calc(100% / 2);
    aspect-ratio: 1;
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
}
.col-8{
    flex-basis: calc(100% / 12 * 8);  
}


.col-50{
    flex-basis: 50%;
}

.footer__col{
    flex-grow: 1;
    flex-basis: calc(100% / 5);
} 
/* nav bar layout */
.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.nav__dx{
    padding-right: 20px;
}
.nav__menu{
    gap: 20px;
}
.nav__logo{
    padding: 0 20px;
    flex-shrink: 0;
}
.nav__menu .menu__element a{ 
    padding: 10px 18px;
}

/* *hero layout */
.hero{
    background-color: #B4D0E7;
}
.hero__title{
    font-size: 75px;
    font-weight: 800;
    padding: 100px 0 45px 0;
}
.hero__arrow{
    font-size: 40px;
    margin-top: auto;
}


/* BUDINESS PLAN LAYOUT */
.business-plan{
    padding: 160px 0 72px;
}
.business__title{
    font-size: 40px;
    margin-bottom: 40px;
}
.billing{
    margin-bottom: 40px ;
}
.monthly, .yearly{
    padding-right: 50px;
}

 /*CARD LAYOUT */
.card__wrapper{
    gap: 50px;
}
.card{
    border: 1px solid lightgray;
    font-size: 14px;
    height: 950px;
}
/* card header */
.card__header{
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.card__header__title{
    font-size: 16px;
    font-weight: normal;
}
/* card body */
.card__body{
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.plan__type{
    flex-direction: column;
    gap: 10px;
}
.plan__title{
    font-size: 24px;
    padding-bottom: 10px;
}
.plan__type span{
    color: grey;
}
.business__list{
    align-items: baseline;
    padding: 10px 0;
    gap: 8px;
}

.business-plan__hr{
    width: 55px;
    border: none;
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
}

/* second list */
.card__h5{
    font-size: 14px;
    padding: 20px 0;
}
.fa-check{
    color:#0061FF;
    font-size: 15px;
}

/* enterprise layout */
.card__enterprise{
    height: auto;
}
.card__body__enterprise{   
    padding: 30px;
    align-items: baseline;
}

.enterprise__button{
    padding: 15px 53px;
}

.enterprise__h5{
    margin-bottom: 40px;
}

/* partner layout */
.partner{
    padding-top: 100px;
}
.partner__text{
    padding: 50px 0 0 40px;
}
.partner__text h3{
    font-size: 24pxs;
    margin-bottom: 20px;
}
.partner__text p{
    margin-bottom: 40px;
}
.button-border{
    border: 1px solid black;
}
/* tools */
.tools{
    padding: 160px 0;
}
.tools__big-title{
    font-size: 40px;
    margin-bottom: 50px;
}
.tools__img{
    margin-bottom: 5px;
}
.tools__title{
    font-size: 24px;
    margin-bottom: 20px;
}

/* team */
.team-row{
    background-color: #F5F5F5;
}
.team-title-container{
    max-width: 700px;
    margin-bottom: 160px;
}
.team-title{
    font-size: 40px;
    margin-bottom: 50px;
}
.logo{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo img{
    width: 50%;
    height: 50%;
    filter: invert(1);
}
.uf img{
    width: auto;
    height: auto;
}
.designit{
    background-color: #A2D39B;    
}
.asu{
    background-color: #61082B;
}
.uf{
    background-color: #0093CE;
}
.topps{
    background-color: #FF2A2A;
}
.world-bicycle{
    background-color: #D5001F;
}
.hearst{
    background-color: #B4D0E7;
}
.lonely{
    background-color: #0D2481;
}
.clear{
    background-color: #FFD830;
}

.description__card{
    flex-direction: column;
    gap: 50px;
    padding: 50px;
   
}
.description__card img{
    width: 50%;
    height: 50%;
}
.description__card hr{
    width: 110px;
}

/* free-trial */
.free-trial{
    background-color: #B4D0E7;
}
.trial__title{
    font-size: 40px;
    color: #61082B;
}
.trial__row{
    align-items: baseline;
    padding: 100px 0;
    gap: 20px;
}
.trial__button{
    text-align: right;
}
.trial__button .button{
    background-color: white;
    padding: 10px 50px;
}


/* faq */
.faq{
    padding: 160px 0;
}
.faq hr{
    border: none;
    height: 1px;
    background-color: black;
}
.faq__title{
    font-size: 40px;
    margin-bottom: 70px;
}
.fa-angle-down{
    padding-right: 40px;
}
.question{
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

/* footer */
footer{
    background-color: black;
    padding: 100px 0;
    color: white;
}
.footer__row{
    margin-bottom: 80px;
}
.footer__col h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer__list{
    font-size: 14px;
    line-height: 2.3;
}
footer hr{
    border: 0;
    height: 1px;
    width: 100px;
    background-color: white;
    margin-bottom: 50px;
}
.language{
    color: lightgray;
    font-size: 14px;
}